.about{
margin-top:2%;
margin-left: 30%;
}
.contact{
margin-top:2%;
margin-left:40%
}
.home{
margin-top:2%;
}
.post{
margin-top:2%;
}

.container2 {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.493);
    padding: 20px 40px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow:0 0 5px #f07979, 0 0 6px #0a3ecf;
}
#backgroundImage {
    width: 100%;
  }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin-left:20%;
  margin-top: 5%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
 tr:nth-child(even) {
  background-color: #cceeff;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.editButton {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  margin-right:1%;
}

.editButton:hover {
  background-color: #008CBA;
  color: white;
}

.deleteButton {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.deleteButton:hover {
  background-color: #f44336;
  color: white;
}
.addStyle{
text-align:center;
padding-top:2%;
font-size:20px;
color:blue;
}
.addIcon{
font-size:25px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 5px 15px;
}
.addIcon:hover{
  background-color: #555555;
  color: white;
}
